<!--<form action="">
    <div class="row">
        <div class="col-6">
            <input type="text" [(ngModel)]="newUser.name" class="form-control" name="name" placeholder="name">
        </div>
        <div class="col-6">
            <input type="text" [(ngModel)]="newUser.lastname" class="form-control" name="username" placeholder="username">
        </div>
        <div class="col-6">
            <input type="email" [(ngModel)]="newUser.email" class="form-control" name="email" placeholder="email">
        </div>
        <div class="col-6">
            <input type="password" [(ngModel)]="newUser.password" class="form-control" name="password" placeholder="password">
        </div>
        <div class="col-6">
            <select [(ngModel)]="newUser.role_id" class="form-control" name="role_id">
                <option value="1">Amministratore</option>
                <option value="2">Gestore</option>
                <option value="3">Autore</option>
                <option value="4">Utente</option>
            </select>
        </div>
        <div class="mt-3">
            <button class="btn btn-dark" (click)="createUser(newUser)">
                Aggiungi
            </button>
        </div>
    </div>
</form>
-->