<div class="container" id="login">
<form class="form-signin">
    <div class="text-center my-4">
      <h1 class="h3 mb-3 font-weight-normal">Login</h1>
    </div>
  
    <div class="form-label-group">
      <input [(ngModel)]="payload.username" type="text" class="form-control" name="username" placeholder="Username">
      <label></label>
    </div>
  
    <div class="form-label-group">
      <input [(ngModel)]="payload.password" type="password" class="form-control" name="password" placeholder="Password">
      <label></label>
    </div>
  
    <div class="checkbox mb-3">
    </div>
    <button class="w-100 btn btn-lg btn-primary" (click)="login()">Sign in</button>
    <button class="w-100 btn btn-lg btn-success mt-3">Sign up</button>
  </form>
</div>